<div class="map  clearfix">
  <div class="map__left-column">
    <form ng-submit="vm.addWaypoint()" class="map__form">
      <input ng-model="vm.newWaypointTitle" type="text" placeholder="Новая точка маршрута" class="map__input" required>
    </form>
    <ul my-sortable="vm.waypoints" class="map__waypoints-list">
      <li ng-repeat="waypoint in vm.waypoints" my-sortable-item="$index" class="map__waypoints-list-item">
        {{ waypoint.title }} <button ng-click="vm.removeWaypoint($index)" class="map__waypoints-list-button">×</button>
      </li>
    </ul>
  </div>
  <div class="map__right-column">
    <div class="map__map" my-map="vm.waypoints"></div>
  </div>
</div>
