html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: Verdana,Geneva,sans-serif;
}
body {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.map__left-column {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 100%;
  overflow: auto;
  padding: 10px;
}
.map__right-column {
  position: fixed;
  top: 0;
  left: 280px; /* Equals left column width */
  right: 0;
  bottom: 0;
  overflow: auto;
}
.map__map {
  width: 100%;
  height: 100%;
}
.map__form {
  width: 254px;
}
.map__input {
  width: 100%;
  box-sizing: border-box;
  margin: 3px;
  padding: 6px;
}
.map__waypoints-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 260px;
}
.map__waypoints-list-item {
  cursor: n-resize;
  position: relative;
  font-size: 14px;
  background-color: #F1F1F1;
  padding: 6px;
  margin: 3px;
}
.map__waypoints-list-item:hover {
  background-color: #E2E2E2;
}
.map__waypoints-list-item.is-active {
  background-color: #FFD2B8;
}
.map__waypoints-list-button {
  position: absolute;
  right: 4px;
  top: 3px;
  background-color: #FF9898;
  border: none;
  color: #650000;
  padding: 4px 5px;
  font-size: 16px;
  line-height: 1;
}
.map__waypoints-list-button:hover {
  background-color: #FF4545;
}
.map__waypoints-list-button:active {
  background-color: #FF4545;
  box-shadow: 0px 0px 6px 0px #353535 inset;
}
